*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.teste_bg{
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    height: 70vh;
    width: 500px;
    background-color: #f4f4f4;
}

h1{
    border: 2px solid red;
}

/* .order0{
    order: 0;
}

.order1{
    order: 1;
}

.order2{
    order: 2;
}

.order3{
    order: 3;
}

.order4{
    order: 4;
} */
