@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    margin-bottom: 32px;
}

body{
    background-color: #F5F5F5;
    padding: 52px 40px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card_cabecalho h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    max-width: 18ch;
    font-weight: 600;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #121212;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.card_periodoTexto h4{
    color: black;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
}

.card_periodo{
    background-color: #ECECEC;
    border: 1px solid #ECECEC;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    gap: 100px;
    align-items: center;
    transition: .4s;
    cursor: pointer;
}

.card_periodo:hover{
    border: 1px solid #424242;
}

.card_periodoTexto{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

p, span{
    font-size: 1rem;
    color: #121212;
    line-height: 1;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 431.75px;
    padding: 1.5rem;
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    gap: 1.5rem;
    cursor: pointer;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 24px;
}

.card_cabecalho{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.btn_primario{
    background-color: #144BC8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    width: 48px;
    height: 48px;
    transition: .4s;
}

.btn_primario:hover{
    background-color: #144ac86c;
}

#icone_seta{
    max-width: 100%;
    fill: #FFFFFF;
    transition: .4s;
}

.btn_primario:hover #icone_seta{
    fill: #144BC8;
}

.card_progresso{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.progresso_porcentagem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card_barra{
    flex: 1;
    height: 4px;
    border-radius: 8px;
}

.percent100{
    background-color: #424242;
}

.percent0{
    background-color: #42424229;
}

.card_informacao{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formacao_formato, .formacao_tutor{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card_identificacao{
    display: flex;
    gap: 0.5rem;
}

.card_identificacao span{
    background-color: #E0E0E0;
    color: #121212;
    padding: 0.5rem 1rem;
    border-radius: 16px;
}