*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

#tituloPrincipal{
    text-align: center;
    margin: 40px 0 20px 0;
}

.produtos{
    margin: 20px 40px;
    background-color:  #111;
    padding: 30px;
    border-radius: 4px;
}

.produtos > h2{
    color: #fff;
    /* margin: 0 0 20px 0; */
}

.produtos > p{
    color: #b2b2b2;
    margin: 20px 0;
}

.produtos span{
    color: #01aafe;
}

.compra{
    color: #001633;
    font-weight: 600;
    background-color: #01aafe;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
}