*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template: 
    "menu cabecalho" auto
    "menu principal" auto
    / auto 1fr
    ;
}

header{
    background-color: red;
    height: 80px;
    grid-area: cabecalho;
}

aside{
    background-color: blue;
    height: 100vh;
    width: 204px;
    grid-area: menu;
}

main{
    background-color: green;
    height: 200vh;
    grid-area: principal;
}