body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
    background-color: rgb(245, 204, 142);
}
a{
    text-decoration: none;
    color: rgb(224, 24, 141);
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: overline;
}
h2{
    color: lightslategray;
    text-decoration: underline;
    font-size:xx-large;
}
h5{
    text-align: center;
    text-transform: uppercase;
}
div{
    background-color: azure;
}
